In [1]:
num = 12
name = 'varun'

In [3]:
print("my number is {} and my name is {}".format(num,name))

my number is 12 and my name is varun

In [7]:
#def times2(var):
    #return var*2
#This function Can also be  defined using the lambda function
t = lambda var: var*2

In [9]:
#times2(5)
t(6)

12

In [3]:
#map function

In [4]:
seq = [1,2,3,4,5]

In [5]:
list(map(times2, seq))

[2, 4, 6, 8, 10]

In [10]:
#Map using lambda fuunction
list(map(lambda a: a*3, seq))

[3, 6, 9, 12, 15]

In [11]:
 #Filter function

In [12]:
list(filter(lambda a: a%2 == 0, seq))

[2, 4]

In [13]:
s = 'My name is VTG'

In [14]:
s.lower()

'my name is vtg'

In [15]:
s.upper()

'MY NAME IS VTG'

In [16]:
s.split()

['My', 'name', 'is', 'VTG']

In [17]:
tweet = 'Go sports! #Sports'

In [18]:
tweet.split('#')

['Go sports! ', 'Sports']

In [20]:
tweet.split('#')[1]

'Sports'

In [21]:
d = {'k1':1 , 'k2':2}

In [22]:
d

{'k1': 1, 'k2': 2}

In [23]:
d.keys()

dict_keys(['k1', 'k2'])

In [24]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [25]:
d.values()

dict_values([1, 2])

In [26]:
lst = [1,2,3]

In [27]:
lst

[1, 2, 3]

In [28]:
item = lst.pop()

In [29]:
lst

[1, 2]

In [30]:
item

3

In [31]:
lst = lst.pop(0)

In [32]:
lst

1

In [33]:
#Tuple unpacking

In [34]:
x = [(1,2),(3,4), (5,6)]