In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
labels = ['a','b','c','d']
my_data = [10,20,30,40]
array = np.array(my_data)
d = {'a':10, 'b':20, 'c':30}

In [4]:
labels

['a', 'b', 'c', 'd']

In [5]:
array

array([10, 20, 30, 40])

In [6]:
pd.Series(data = my_data)

0    10
1    20
2    30
3    40
dtype: int64

In [7]:
pd.Series(data = my_data,index = labels)

a    10
b    20
c    30
d    40
dtype: int64

In [8]:
pd.Series(my_data,labels)#give our own labels to any data

a    10
b    20
c    30
d    40
dtype: int64

In [16]:
ser1 = pd.Series([1,2,3,4],['A','B','C','D'])#data and labels resp

In [10]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [17]:
ser1['A'] #to grab info out of the series,we could just use any particular label # It works just like a hash or dictionary

1

In [15]:
pd.Series(data= [sum,print,len])#this series is holding actual references as the datapoints which is not possible in numpy

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [14]:
pd.Series(d)#pass dictionaries

a    10
b    20
c    30
dtype: int64

In [26]:
ser2 = pd.Series([1,2,3,4],['B','C','D','E'])

In [27]:
ser2

B    1
C    2
D    3
E    4
dtype: int64

In [29]:
ser2['D']#pass the index label and it will give you the corresponding data

3

In [30]:
ser3 = pd.Series(data = labels)

In [31]:
ser3

0    a
1    b
2    c
3    d
dtype: object

In [33]:
ser1 + ser2 #add the data having the same label and give null or NaN at places having different labels or the places it doesn't find a match

A    NaN
B    3.0
C    5.0
D    7.0
E    NaN
dtype: float64